@tailwind base;

/* No line height */
.leading-0 {
  line-height: 0;
}

/* Smaller text tracking */
.tracking-p {
  letter-spacing: 0.25px;
}

/* Measure is limited to ~66 characters */
.measure {
  max-width: 30em;
}

/* Measure is limited to ~80 characters */
.measure-wide {
  max-width: 34em;
}

/* Measure is limited to ~45 characters */
.measure-narrow {
  max-width: 20em;
}

/* Smooth transition to dark mode */
.dark-transition {
  transition: background 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955),
    color 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

/* Custom reading bar */
.h-05 {
  height: 0.125rem;
}

.mb-rb {
  margin-bottom: 3.9rem;
}

.bottom-16 {
  bottom: 4rem;
}

/* No button selection on click */
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* Book fold styling */
.book-fold {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.10) 60%, rgba(0, 0, 0, 0.075) 100%);
  border-color: rgba(200, 200, 200, 0.015);
  border-width: 1.25px;
}

/* Design System */

body {
  @apply text-2xl;
}

p {
  @apply text-2xl leading-snug mb-6 tracking-p;
}

.link-underline {
  @apply border-b-2 -mb-2;
}

.mode-dark .link-underline {
  @apply border-neutral-800;
}

strong {
  @apply font-semibold;
}

a {
  @apply no-select;
}

p a {
  @apply link-underline no-select;
  transition: border-color 0.25s ease;
}

p a:hover {
  @apply text-black border-primary-500;
  transition: border-color 0.25s ease;
}

.mode-dark p a {
  @apply text-neutral-50;
}

.mode-dark p a:hover {
  @apply text-white;
}

strong a {
  @apply font-bold;
}

h1 {
  @apply leading-tight border-b text-5xl font-semibold mb-4 mt-6 pb-2 inline-block;
}

h2 {
  @apply leading-tight border-b text-4xl mb-4 mt-6 pb-2;
}

.mode-dark h1,
.mode-dark h2 {
  @apply border-neutral-700;
}

h3 {
  @apply leading-none text-lg font-semibold mb-4 mt-6;
}

h4 {
  @apply leading-none text-base font-semibold mb-4 mt-6;
}

h5 {
  @apply leading-tight text-sm font-semibold mb-4 mt-6;
}

h6 {
  @apply leading-tight text-sm font-semibold text-neutral-600 mb-4 mt-6;
}

@tailwind components;
@tailwind utilities;