@tailwind base;

/* No line height */
.leading-0 {
  line-height: 0;
}

/* Smaller text tracking */
.tracking-p {
  letter-spacing: 0.25px;
}

/* Measure is limited to ~66 characters */
.measure {
  max-width: 30em;
}

/* Measure is limited to ~80 characters */
.measure-wide {
  max-width: 34em;
}

/* Measure is limited to ~45 characters */
.measure-narrow {
  max-width: 20em;
}

/* Smooth transition to dark mode */
.dark-transition {
  transition: background 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955),
    color 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

/* No button selection on click */
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* Design System */
h1 {
  @apply text-4xl leading-tight mb-6 font-bold font-display inline-block;
}

.mode-dark h2 {
  @apply border-neutral-700;
}

h2 {
  @apply text-3xl leading-tight mb-4 border-b-2 pb-2 font-bold font-display inline-block;
}

h3 {
  @apply text-2xl leading-tight mb-4 font-bold font-display;
}

body {
  @apply text-2xl;
}

p {
  @apply text-2xl leading-snug mb-6 tracking-p;
}

.link-underline {
  @apply border-b-2 -mb-2;
}

.mode-dark .link-underline {
  @apply border-neutral-800;
}

.bottom-16 {
  bottom: 4rem;
}

p a {
  @apply link-underline text-neutral-900 border-neutral-100;
  transition: border-color 0.25s ease;
}

.mode-dark p a {
  @apply text-neutral-200 border-neutral-800;
}

p a:hover {
  @apply border-primary-400;
}

article blockquote {
  @apply my-8 py-4 px-4 bg-white border-l-2 border-primary-700 text-primary-900 shadow rounded-lg;
}

.mode-dark article blockquote {
  @apply border-l-2 bg-neutral-800 border-primary-400 bg-neutral-800 text-primary-50;
}

article blockquote p  {
  @apply mb-0;
}

article ul,
article ol {
  @apply list-disc bg-white text-primary-900 my-6 py-4 pl-12 pr-6 rounded-lg shadow;
}

.mode-dark article ul,
.mode-dark article ol {
  @apply bg-neutral-800 text-primary-50;
}

article li {
  @apply my-4 pl-2 leading-snug;
}

@tailwind components;
@tailwind utilities;
